# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage report
*.out

# Dependency directories (remove the comment below if you want to ignore them)
# go.mod
# go.sum

# Go workspace folder
_gopath
_gopath/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~
.gigacode/


# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp